    @import '../../assets/styles/variables.scss';

    .card-container {
        display: flex;
        max-width: 150px;
        background-color: white;
        padding: 3px;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
            background-color: $hover-background-color;
            padding: 0px;
            transition: all 0.2s;
        }

        &:active {
            transform: rotate(2deg);
        }
    }