@import '../../assets/styles/mixins.scss';

.app-header {
    @include flex-center;
    padding-top: 10px;
    position: relative;
    justify-content: flex-end;

    .logo {
        position: absolute;
        top: 0;
        left: 0;
    }
}
