//colors
$base-color: #2f4f4f;
$base-color2:#7d7c7c;

$hover-font-color: #778899;
$active-font-color: #515746;

$hover-background-color: #878987;

$base-font-color:rgb(255, 255, 255);

//fonts
$base-font: 16px "Verdana",
sans-serif;

//sizes
$max-width: 100%;
$width-320: 320px;
$container-width: 1440px;

//adaptive
$tablet: 768px;
